:root {
  --base: #bada55;
  --spacing: 10px;
  --blur: 10px;
}

body{
  text-align: center;
  background: #193544;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 50px;
}

img{
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

hl{
  color: var(--base);
}

.controls{
  margin-bottom: 50px;
}

input{
  width: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert{
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
}

.alert--success{
  background-color: lightcoral;
}

.alert--warning{
  background-color: goldenrod;
}

.alert--info{
  background-color: lightgreen;
}

.alert--danger{
  background-color: red;
}